* {
    font-size: 16px;
    font-family: 'Roboto Mono', monospace;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 3rem;
    background-color: whitesmoke;
}

/* Logo and Navigation */

.logo {
    font-family: 'Charm', cursive;
    font-size: 2rem;
    margin-left: 1rem;
    color: #FF9C7D;
}

.navigation ul {
    display: flex;
    margin-right: 2rem;
    gap: 2rem;
    font-size: 1.5rem;
}

.navigation a {
    color: #FF9C7D;
    font-weight: 700;
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
    .navigation {
        display: none;
    }
    .header {
        justify-content: center;
    }
    .logo {
        font-size: 2.5rem;
    }
}

/* Front Content */

.front-content {
    height: 30rem;
    display:flex;
    background-image: url('./images/main\ pic.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    border-top: 1px solid black;
}

.main-text {
    display: flex;
    align-items: center;
    width: 50%;
    height: 90%;
}

.main-text h1 {
    font-size: 4rem;
    text-align: left;
    margin-left: 3rem;
    color: #FFD345;
}

@media only screen and (max-width: 895px) {
    .main-text h1 {
        font-size: 2rem;
    }
    .front-content {
        height: 20rem;
    }
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
    .front-content {
        height: 20rem;
    }

    .main-text h1 {
        font-size: 1.5rem;
    }
}
/* Discription */

.discription {
    display: flex;
    background-color: #FFB152;
    text-align: center;
    justify-content: center;
    border: 1px solid whitesmoke;
}

.discription-container {
    padding: 2rem;
    width: 60%;
    height: 100%;
}

.discription-container p {
    font-size: 1.875rem;
    font-family: 'Dosis', sans-serif;
}
.discription-container p:last-child {
    margin-top: 0.5rem;
}

.discription-container span {
    font-family: 'Charm', cursive;
    font-size: 3.25rem;
    color: #EB6E1C;
}

@media only screen and (max-width: 895px) {
    .discription-container {
        width: 100%;
        padding: 2rem;
    }
    .discription-container p {
        text-align: justify;
    }
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
    #discription-text {
        display: none;
    }
    .discription-container p {
        text-align: justify;
        font-size: 2rem;
    }
}

/* Examples */

.examples-container {
    padding: 3rem 1rem;
    display: grid;
    gap: 1rem;
    background-color:  #F2660C;
}

.examples-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 1px solid whitesmoke;
}
.examples-container p {
    text-align: center;
    margin-top: 0.125rem;
    font-size: 1.5rem;
    color: whitesmoke;
    font-weight: 700;
}
.first {
    grid-column: 1 / 3;
    display: flex;
    flex-direction: column;
}

.second {
    grid-column: 3 / 5;
    display: flex;
    flex-direction: column;
}

.third {
    grid-column: 5 / 7;
    display: flex;
    flex-direction: column;
}

.fourth {
    grid-column: 2 / 4;
    display: flex;
    flex-direction: column;
}

.fifth {
    grid-column: 4 / 6;
    display: flex;
    flex-direction: column;
}


@media only screen and (min-width: 320px) and (max-width: 767px) {
    .examples-container {
        display: grid;
        gap: 0;
        padding: 0;
    }

    .examples-container div {
        grid-column: 1;
        flex-direction: column;
    }
    .examples-container img {
        position: relative;
    }

    .examples-container p {
        position: absolute;
        font-size: 1.5rem;
        margin: 60% auto;
   }

    .first {
        grid-row: 1;
    }
    .second {
        grid-row: 2;
    }
    .third {
        grid-row: 3;
    }
    .fourth {
        display: none;
    }
    .fifth {
        display: none;
    }
}
/* Masters */

.masters {
    background-color:  #F2660C;
    border-bottom: 2px solid black;
}

.masters-containers {
    display: grid;
    margin: 0 1rem;
    gap: 1rem;
}

.masters-containers img {
    width: 100%;
    height: 70%;
    object-fit: cover;
}

.our-masters-text {
    grid-column: 1 / 4;
    font-size: 4rem;
    margin: 1rem auto;
    color: whitesmoke;
    font-weight: 700;
}

.first-master {
    grid-column: 1;
    grid-row: 2;
}

.second-master {
    grid-column: 2;
    grid-row: 2;
}

.third-master {
    grid-column: 3;
    grid-row: 2;
}

.masters h3 {
    font-size: 2.5rem;
    color: whitesmoke;
    margin-top: 0.5rem;
}
.masters h4 {
    font-size: 2rem;
    font-style: italic;
    color: whitesmoke;
}
.masters p {
    font-size: 1.5rem;
    margin-top: 0.25rem;
    color: whitesmoke;
}

@media only screen and (max-width: 895px) {
    .masters-containers {
        gap: 0.25rem;
        margin: 0;
    }
    .masters-containers p {
        display: none;
    }
    .masters-containers h4 {
        font-size: 1.5rem;
    }
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
    .masters-containers {
        gap: 0.25rem;
        margin: 0;
    }
    .our-masters-text {
        font-size: 3rem;
    }
    .masters-containers h3 {
        font-size: 2rem;
    }
    .masters-containers h4 {
        font-size: 0.725rem;
    }
    .masters-containers p {
        display: none;
    }
}

/* Footer */

.footer {
    background-color: whitesmoke;
}

.footer-container {
    display: flex;
    justify-content: space-between;
}

.footer-container p {
    font-family: 'Charm', cursive;
    color: #FF9C7D;
    font-size: 1.25rem;
    padding: 0.5rem;
    margin: auto 3rem;
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
    .footer-container p {
         margin: 0 auto;
    }
}
