.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50rem;
  background: url("https://images.prismic.io/saatva-blog/b8938dc2-e39d-419c-8b0d-fcaced7cc9f1_best-candles-for-sleep-main.jpeg") center center no-repeat;
  background-size: cover;
  color: #ffb78c;
}

.banner h1 {
    padding: 10%, 50%, 80%;
    font-size: 50px;
    font-weight: bold;
    color: khaki;
    text-align: center;
    letter-spacing: 5px;
}

.banner h2 {
  padding: .55rem 0;
  border-top: 4px solid #ffb78c;
  border-bottom: 4px solid #ffb78c;
  font-size: 1.44rem;
  letter-spacing: 2px;
  text-transform: uppercase;
}
